* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

/* Förälder till .wrapper */
body {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* Eftersom flex direction: column, så behöver jag använda
        align-items för att centrera på x-axeln. och
        justify-content för y-axeln. */
    justify-content: center;
    align-items: center;
}

/* Förälder */
.wrapper {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    gap: 50px;
}

/* Barnen */
.wrapper > div {
    border: 2px solid red;
    flex-grow: 2;
}

.wrapper > div:last-child,
.wrapper > div:first-child {
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }
}
